@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Bevan&family=Grandstander:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



@font-face {
    font-family: 'Baloo2';
    src: url(../static/fonts/Baloo2-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Algerian';
    src: url(../static/fonts/Algerian\ Regular.ttf);
}
@font-face {
    font-family: 'Arial';
    src: url(../static/fonts/Arial-Font/arial\ 1.ttf);
}

/* .navbar{
    position: relative
} */

/* .navbar .toggle {
    position: fixed;
    
} */

/* .menu-nav{
    transform: translateX(-100px);
    transition: transform ease-in-out .2s;
} */

/* .menu-nav.show-menu {
    width : 100%;
    transform: translateX(0px);
} */